@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"


<h2>Index</h2>




@foreach (MbmStore.Models.Movie name in ViewBag.Movies)
{<h2>@name.Title</h2>

   <p>Price: @String.Format("{0:0.00}", name.Price)</p>
    <p><img src="/Images/@name.ImageFileName" alt="@name.Title" width="200"/></p>
}



